.block
{
    background: url(images/fon.jpg);
    border: 3px black;
    border-radius: 5px;
}ss

.mid{
    max-width: 800px;
    margin: 0px auto;
}

.head{
    background: url(images/header.jpg) center no-repeat;
    background-size: cover;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
    font: 1em/1.6em Roboto;
    text-align: center;
    border-radius: 30px;
    
}

.dbg{
    background: rgba(0, 0, 0, 0.33);
    border-radius: 30px;
}

h1,h2,h3,h4{
    margin: 0;
    text-align: center;
}

.head__h1{
    padding-top:25px;
    text-align: center;
    font-size:32px;
}

.head__desk{
    padding: 5px;
    margin-top: 10px;
    text-align: center;
}

.head__min{
    padding: 0;
    margin: 0;
    font-size: 12px;
}

.head__post{
    padding: 0 0 30px;
    margin: 0;
    font-size: 28px;
    margin: 20px;
}


.pay{
    text-align: center;
    padding: 20px 0;
    margin: 20px;
    
}

.pay__link{
    color: #fff;
    font-size: 20px;
    background: #c10000;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #000;
    text-decoration: none;
    transition: all .5s;
}

.pay__link:hover{
    background: #e50101;
    }

.pay__link:active{
    box-shadow: 0 0 11px #670000 inset;
}

.direct{
    background: url(images/direct.jpg) center no-repeat;
    background-size: 1100px;
    width: 1100px;
    border-radius: 30px;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
    font: 1em/1.6em Roboto;
    text-align: center;
    margin: auto;
}

.direct__h2{
    padding-top:25px;
    text-align: center;
    font-size:32px;  
}

.dd {
    perspective: 1000px;

}

.dd:hover .rotate{
    transform: rotateX(360deg);   
}

.rotate{
    position: relative;
    transform-style: preserve-3d;
    transition: 1.2s;
}

.info_top{
    margin: 0px auto;
    color:white;
    width: 800px;
    text-align: center;
    background: rgba(139, 138, 138, 0.65);
    border-radius: 60px;
    padding: 5px 5px;
    transition: 2.0s;
}

.info_h1, .info_p{
    text-shadow: 1px 1px 2px #000;
    font: 1em/1.6em Roboto;
}

.info_h1{
    font-size: 32px;
}

.info_top:hover{
    background: rgba(95, 95, 95, 0.86);
}

.menu{
    position: absolute;
    background: rgba(139, 138, 138, 0.65);
    top: 523px;;
    border-radius: 20px;
    padding: 0;
    transition: 2.0s;

}

.menu_ul{
    padding: 10px;
}

.menu_li{
    list-style-type: none;
    padding: 2px;
}

.a_a{
    text-decoration: none;
    text-shadow: 1px 1px 2px #000;
    font: 1.1em/1.6em Roboto;
    margin: 5px;
    color: #fff;
    transition: 0.5s;
}

.a_a:hover{
    font: 1.3em/1.6em Roboto;
}

.menu:hover{
    background: rgba(95, 95, 95, 0.86);
}